.main {
  margin: 20px auto 10px auto;
  width: 80%;
  height: 70%;
  border-radius: 20px;
  animation: scaling 0.5s steps(30) 1;
}
.body {
  margin: 0;
  background-image: linear-gradient(45deg, #77d0f393 40%, #c0e6f59a 90%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.appbarstyle {
  background: linear-gradient(45deg, #3f7afa 30%, #05cdff 90%);
  border: 0;
  border-radius: 3;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  color: white;
  padding: 10px;
}
.navbtn {
  margin-left: auto;
}
.links {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.about {
  margin: 50px 20% 0 20%;
  text-align: justify;
}
@keyframes scaling {
  0% {
    transform: scale(0.1);
  }
  10% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(0.3);
  }
  30% {
    transform: scale(0.4);
  }
  40% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.6);
  }
  60% {
    transform: scale(0.7);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.profile {
  width: 200px;
  border-radius: 250px;
  border: 8px solid white;
  animation: scaling 0.3s steps(30) 1;
}
.contact {
  margin: 20px;
}
.Projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px;
}
.notfound {
  width: 80%;
  margin: 10px 20% 0 20%;
}
.notfound > img {
  width: 70%;
}
