.main{
  margin:10px auto 10px auto ;
    width: 75%;
    height: 70%;
    border-radius: 20px;
}
body{
    background-image: linear-gradient(rgb(147, 202, 247), rgb(217, 245, 252));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.navbtn{
  margin-left: auto;
}
.links{
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.about{
  margin:50px 100px;
}
.profile{
  width: 200px;
  border-radius: 250px;
  border: 8px solid white;
}
.contact{
  margin: 20px;
}